.NewsletterWrapper{
    background-color: #b5c3d3;
    padding: 2rem 0;
    display: block;
    text-align: center;
    margin: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
}

.NewsletterInput{
    margin: auto;
    height: 40px;
    width:80%;
    font-family: 'Lato', sans-serif;
}
