.Title{
    font-size: 26px;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
}

.View{
    display: flex;
    justify-content: flex-end;
}

.View button{
}

.Select_Image{
    padding: 10px;
    border: 2px solid grey;
    font-size: 20px;
    border-radius: 3px;
}