.FormWrapper{
    
}

.Form{
    border: 1px solid red;
    height: 280px;
    padding: 20px;
    margin: auto;
    flex-flow: column;
    /* align-self: center;
    justify-content: center; */
}

.FormWrapper input{
    border: 1px solid rgb(87, 87, 87);
    box-shadow: 1px 2px 2px rgb(187, 187, 187);
    width: 80%;
    height: 34px;
    border-radius: 3px;
}

@media screen and (min-width: 430px){
    .Form{
        min-height: 400px;
    }
}