.Accountbar{
    display: none;
}

.Accountbarmobile{
    display: flex;
}

.Icon{
    display: inline;
}

.Wrapper{
    display: flex;
    width:100%;
}

@media screen and (min-width: 420px){
    .Accountbar{
        list-style: none;
        display:flex;
        justify-content: space-around;
        padding: 15px
    }

    .Icon{
        display: none;
    }
}