.Header{
    box-sizing: border-box;
}

.Topbar{
    padding: 12px;
    display:flex;
    box-sizing: border-box;
}

.Drawer{
    width:20%;
    margin: auto
}

.Logo{
    width: 80%;
    margin: auto;
}

.AccountBar{
    width: 20%;
    margin: auto;
}