.NavigationItems{
    display: none;
}

.NavigationItemsMobile{
    margin:0;
    list-style:none;
    display: flex;
    flex-flow: column;
    position: fixed;
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: lightgrey;
    transition: transform 0.3s ease-out;
    box-sizing: border-box;
}


.Open{
    transform: translateX(0%);
}

.Close{
    transform: translateX(-100%);
}

@media (min-width: 500px){
    .NavigationItemsMobile{
        display: none;
    }

    .NavigationItems{
        margin:0;
        padding:0;
        list-style:none;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}