.footer{
    padding: 30px;
    box-sizing: border-box;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    position: relative;
    width: 100%;
}
.footerWrapper{
    background-color: #232323;
}
