.CartItem{
    height: 80px;
    margin: 3px 7px 3px 7px;
    padding: 7px;
    border: 1px solid rgb(153, 153, 153);
    box-shadow: gray;
    box-sizing: border-box;
}

.Details{
    display: flex;
}

.Details div{
    padding: 10px;
}

.Name{
    width: 80%
}

.Price{
    width: 10%
}

.Quantity{
    width: 5%;
}

.Remove{
    float: right;
}