.Search{
    z-index: 1000;
    position: fixed;
    top: 0px;
    background-color: white;
    height: 0%;
    width: 100vw;
    display: flex;
    opacity: 0.3;
    transition-timing-function: ease-out;
    transition: 0.25s;
    transform: translateX(100%);
}

.Search input{
    margin: auto;
    height: 40px;
    width: 80%;
    border-radius: 7px;
    border: 1px solid rgb(106, 99, 87)
}

.closeButton{
    position: absolute;
    font-size: 25px;
    right: 20px;
    padding: 7px;
    box-sizing: border-box;
}

.ShowSearch{
    transform: translateX(0%);
    height: 100%;
    opacity: 1;
}

.CloseSearch{
    transform: translateX(100%);
}