.Logo{
    width: 100%;
    max-width: 180px;
    box-sizing: border-box;
    margin: auto;
}

@media screen and (min-width: 400px){
    .Logo{
        max-width: 230px;
        padding: 10px;
    }
}